* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 50px 20px;
  background: #1f1f1f;
}

p {
  margin-top: 10px;
  color: #ffffff;
}

footer {
  text-align: center;
  padding: 20px;
  background: #1f1f1f;
  color: #aaaaaa;
}

/*Seccio paralax*/
/*****************************************************************************************/
.paralax {
  height: 67vh;
  background-image: url("../img/fondo.png"); /* Puedes cambiar esta URL */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* efecto parallax */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.paralax::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* oscurecer imagen para mejor contraste */
}

.paralax-content {
  position: relative;
  text-align: center;
  z-index: 1;
  color: #ffffff;
}

.paralax h1 {
  font-size: 4em;
  text-shadow: 0 0 10px #ffffff;
}
/*****************************************************************************************/

/*Seccio tarjetes*/
/*****************************************************************************************/
.tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 40px 20px;
  max-width: 1500px;
  margin: auto;
}

.card {
  block-size: 250px;
  background-color: #000000;
  border-radius: 20px;
  padding: 40px 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-decoration: none;
  color: white;
}

.card.mk1 {
  background-image: url(../img/AudiTTMk1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card.mk1:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #777777;
}

.card.mk2 {
  background-image: url(../img/AudiTTMk2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card.mk2:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #777777;
}

.card.mk3 {
  background-image: url(../img/AudiTTMk3.png);
  background-size: 130%;
  background-position: center;
  background-repeat: no-repeat;
}
.card.mk3:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #777777;
}
/*****************************************************************************************/
